@tailwind base;
@tailwind components;
@tailwind utilities;

.tech-icon {
  @apply w-14 h-14 transition-transform duration-300 ease-in-out hover:scale-110 hover:brightness-125 mx-auto;
}

* {
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}