---
import { Image } from "astro:assets";
import ProfileImage from "../images/work.gif";
import { siJavascript } from "simple-icons";
console.log(siJavascript);
---

<div
	class="header lg:max-w-[60vw] lg:flex lg:flex-row lg:mx-auto lg:gap-12 lg:justify-center lg:mt-12"
>
	<div class="image lg:w-1/4">
		<Image
			src={ProfileImage}
			alt="presentation_image"
			class="rounded-full mx-auto"
		/>
	</div>
	<div
		class="description lg:w-1/2 lg:gap-12 flex-col items-center content-center"
	>
		<p class="text-white text-4xl font-semibold mb-4">
			Jonatan Rodriguez Alonso
		</p>
		<p class="text-white">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit similique,
			itaque impedit maiores voluptates eaque sunt sed quod magnam tempore at
			excepturi iure ad praesentium aperiam id quam. Impedit, quis.
		</p>
		<svg class="w-80 h-80"><path d={siJavascript.path}></path></svg>
		<img class="w-80 h-80" src=`${siJavascript.source}` alt="" />
	</div>
</div>
