---
import { Image } from "astro:assets";
import ProfileImage from "../images/avatar.png";
---

<div
	class="header container px-4 lg:px-0 lg:flex lg:flex-row mx-auto lg:gap-12 lg:justify-center"
>
	<div class="image flex justify-center">
		<Image
			src={ProfileImage}
			alt="presentation_image"
			class="rounded-full w-1/3 min-w-[300px] min-h-[300px]"
		/>
	</div>
	<div
		class="description lg:gap-12 flex-col items-center content-center w-full"
	>
		<div class="mb-4">
			<p
				class="text-[#1E1E1E] text-center lg:text-left text-4xl font-semibold mb-4"
			>
				Jonatan Rodriguez Alonso
			</p>
			<p class="text-[#1E1E1E] text-center lg:text-left mb-2">
				Desarrollador web Junior con más de 4 años de experiencia, especializado
				en frontend con Vanilla Javascript. He liderado proyectos MVP y landing
				pages, logrando lanzamientos exitosos. Utilizo React como librería
				favorita para pequeños proyectos y React Native para aplicaciones
				multiplataforma.
			</p>
			<p
				class="text-[#1E1E1E] text-center lg:text-left font-semibold text-balance"
			>
				<div
					class="relative p-6 bg-gradient-to-r from-gray-800 to-gray-900 text-white rounded-xl shadow-lg w-fit mx-auto"
				>
					<span class="absolute -top-0 left-1 text-5xl text-green-500">“</span>
					<p class="text-lg font-semibold italic text-center">
						Talk is cheap. Show me the code. - Linus Torvalds
					</p>
					<span class="absolute -bottom-4 right-1 text-5xl text-green-500"
						>”</span
					>
				</div>
			</p>
		</div>
	</div>
</div>
