---
import Timeline from "./Timeline.astro";
import TitleSection from "./TitleSection.astro";
import TecnologiesFrontend from "./TecnologiesFrontend.astro";
import TecnologiesMobile from "./TecnologiesMobile.astro";
import TecnologiesBackend from "./TecnologiesBackend.astro";
import TecnologiesTools from "./TecnologiesTools.astro";
import TecnologiesSection from "./TecnologiesSection.astro";
import SwipperTodoApp from "./SwipperTodoApp.astro";
import SwipperMemoji from "./SwipperMemoji.astro";
import SwipperMines from "./SwipperMines.astro";
---

<main class="lg:w-[80vw] px-4 lg:max-w-[60vw] mx-auto flex flex-col my-4">
	<TitleSection> Tecnologías </TitleSection>
	<TecnologiesSection>
		<TecnologiesFrontend />
		<TecnologiesMobile />
		<TecnologiesBackend />
		<TecnologiesTools />
	</TecnologiesSection>
	<Timeline />
	<TitleSection> Aplicaciones </TitleSection>
	<div class="gap-4 mx-auto lg:mx-0 lg:flex lg:justify-center">
		<SwipperMemoji />
		<SwipperMines />
		<SwipperTodoApp />
	</div>
</main>
