---
import { Image } from "astro:assets";
import Cv from "../images/icons/cv2.svg";
---

<div id="navbarContainer" class="sticky top-0 pb-4 z-10">
	<div
		class="flex gap-8 justify-center lg:items-center lg:mx-auto p-4 bg-gradient-to-r from-blue-500 to-purple-600 shadow-xl"
	>
		<a
			href="https://www.linkedin.com/in/njralonso/"
			target="_blank"
			class="transform hover:scale-110 transition-transform duration-300 flex flex-col justify-center items-center"
		>
			<svg
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				fill="#ffffff"
				class="w-10 h-10 hover:shadow-lg"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<path
						d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z"
						fill="#ffffff"></path>
					<path
						d="M5 10C5 9.44772 5.44772 9 6 9H7C7.55228 9 8 9.44771 8 10V18C8 18.5523 7.55228 19 7 19H6C5.44772 19 5 18.5523 5 18V10Z"
						fill="#ffffff"></path>
					<path
						d="M11 19H12C12.5523 19 13 18.5523 13 18V13.5C13 12 16 11 16 13V18.0004C16 18.5527 16.4477 19 17 19H18C18.5523 19 19 18.5523 19 18V12C19 10 17.5 9 15.5 9C13.5 9 13 10.5 13 10.5V10C13 9.44771 12.5523 9 12 9H11C10.4477 9 10 9.44772 10 10V18C10 18.5523 10.4477 19 11 19Z"
						fill="#ffffff"></path>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M20 1C21.6569 1 23 2.34315 23 4V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H20ZM20 3C20.5523 3 21 3.44772 21 4V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V4C3 3.44772 3.44772 3 4 3H20Z"
						fill="#ffffff"></path>
				</g></svg
			>
			<span class="font-semibold text-[#FAFAFA]">Linkedin</span>
		</a>
		<a
			href="https://github.com/njralonso"
			target="_blank"
			class="transform hover:scale-110 transition-transform duration-300 flex flex-col justify-center items-center"
		>
			<svg
				role="img"
				fill="#ffffff"
				class="w-10 h-10 hover:shadow-lg"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>GitHub</title>
				<path
					d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
				></path>
			</svg>
			<span class="font-semibold text-[#FAFAFA]">Github</span>
		</a>
		<a
			href="mailto:njralonso@gmail.com"
			class="transform hover:scale-110 transition-transform duration-300 flex flex-col justify-center items-center"
		>
			<svg
				role="img"
				fill="#ffffff"
				class="w-10 h-10 hover:shadow-lg"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Gmail</title>
				<path
					d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
				></path>
			</svg>
			<span class="font-semibold text-[#FAFAFA]">Gmail</span>
		</a>
		<a
			class="transform hover:scale-110 transition-transform duration-300 flex flex-col justify-center items-center"
			href="/CV_COMPLETO_2025.pdf"
			download="Jonatan-Rodriguez-Alonso-CV-2025-Frontend-FullStack-Helpdesk-QA"
		>
			<svg
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				fill="#ffffff"
				class="w-10 h-10 hover:shadow-lg"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<path
						d="M20 14V17.5C20 20.5577 16 20.5 12 20.5C8 20.5 4 20.5577 4 17.5V14M12 15L12 3M12 15L8 11M12 15L16 11"
						stroke="#ffffff"
						stroke-width="1.5"
						stroke-linecap="round"
						stroke-linejoin="round"></path>
				</g></svg
			>
			<span class="font-semibold text-[#FAFAFA]">CV</span>
		</a>
	</div>
</div>
