<div
	class="fixed top-0 left-0 w-full bg-white bg-opacity-10 backdrop-blur-md shadow-lg"
>
	<nav class="container mx-auto flex items-center justify-between py-4 px-6">
		<div class="text-2xl font-bold text-white">Mi Portfolio</div>
		<ul class="flex space-x-8">
			<li>
				<a
					href="#home"
					class="text-black font-semibold text-lg transition duration-300 ease-in-out hover:text-indigo-400 hover:underline"
				>
					Inicio
				</a>
			</li>
			<li>
				<a
					href="#about"
					class="text-black font-semibold text-lg transition duration-300 ease-in-out hover:text-indigo-400 hover:underline"
				>
					Sobre mí
				</a>
			</li>
			<li>
				<a
					href="#projects"
					class="text-black font-semibold text-lg transition duration-300 ease-in-out hover:text-indigo-400 hover:underline"
				>
					Proyectos
				</a>
			</li>
			<li>
				<a
					href="#contact"
					class="text-black font-semibold text-lg transition duration-300 ease-in-out hover:text-indigo-400 hover:underline"
				>
					Contacto
				</a>
			</li>
		</ul>
	</nav>
</div>
