<div
	class="fixed top-0 left-0 w-full bg-white bg-opacity-10 backdrop-blur-md shadow-lg"
>
	<div class="py-4">
		<p class="text-center font-bold text-3xl text-white">
			njralonso<span class="text-6xl text-[#d294ff]">.</span>
		</p>
	</div>
</div>
