---
import Swipper from "./Swipper.astro";

import { Image } from "astro:assets";
import img1 from "../images/trello-clone-login.png";
import img2 from "../images/trello-clone-boards.png";
import mern from "../images/mern-stack-01.webp";
---

<Swipper
	title="TrelloClone (Trabajando actualmente)"
	ghButton="Ver en Github"
	ghLink="https://github.com/njralonso/trello-clone-mern"
>
	<div class="swiper-slide" slot="images">
		<Image src={img1} alt="placeholder" class="rounded-md" />
	</div>
	<div class="swiper-slide" slot="images">
		<Image src={img2} alt="placeholder" class="rounded-md" />
	</div>

	<div class="flex gap-4 mt-4 justify-center w-[12rem] mx-auto" slot="icons">
		<Image src={mern} alt="placeholder" class="rounded-md" />
	</div>
</Swipper>
