---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div
	class="relative flex flex-col w-full p-6 rounded-xl border-2 border-gray-700 bg-gradient-to-br from-gray-700/50 via-black-800/80 to-gray-900/50 shadow-lg hover:shadow-[0_0_20px_rgba(255,255,255,0.4)] transition-all duration-300 ease-in-out justify-around"
>
	{/* Efecto de resplandor */}
	<div
		class="absolute inset-0 bg-gradient-to-br from-gray-700 via-gray-800 to-gray-900 opacity-20 rounded-xl pointer-events-none"
	>
	</div>

	<h2
		class="text-center text-3xl font-extrabold text-[#000] mb-6 tracking-wide"
	>
		{title}
	</h2>
	<div class="flex flex-wrap gap-3 px-6">
		<slot />
	</div>
</div>
